* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', 'Lato', 'Arial', sans-serif;
  color: rgb(16, 42, 66);
}

body {
  background: rgb(240, 243, 248);
  border-top: 8px solid rgb(38, 128, 194);
}

#main {
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.headline-intro {
  text-align: center;
  font-size: 3rem;
}

.btn {
  border: none;
  font-family: 'Open Sans';
  padding: 1rem 0;
  border-radius: 4px;
  margin: 1.5rem 2rem 0;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: rgb(38, 128, 194);
  color: rgb(255, 255, 255);
}


#section-packages {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card {
  display: inline-block;
  min-width: 100%;
  background: rgba(255, 255, 255);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}

.card-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
  margin-top: 1rem;
}

.card-details-grid > :nth-child(even) {
  text-align: right;
}

@media (min-width: 630px) {

  .headline-intro {
    text-align: left;
  }

  .card {
    min-width: 300px;
  }

  #section-packages {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  #header {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn {
    padding: 0 1rem;
    margin: 0.2rem 0;
  }
}

@media (min-width: 1024px) {
  #section-packages {
    grid-template-columns: repeat(3, 1fr);
  }
}